@charset "UTF-8";


* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
body{
    background-color: gray;
    color: white;
}

nav {
    background-color: black;
    display: block;
    
}
nav ul li{
    display: inline-block;
    height: 20px;
    padding: 30px 30px 30px 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.warzone {

}