@charset "UTF-8";


* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: "montserrat";
    src: url("/police/Montserrat/static/Montserrat-Bold.ttf") format(ttf);
}

nav {
    background-color: rgba(255, 255, 255, 0.575);
    display: block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    border-radius: 20%;
    padding: 0.8% 0% 0.8% 0%;
    font-size: 18px;
    font-family: "montserrat";
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li:hover {
    background-color: rgba(228, 226, 226, 0.671);
}


nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0px 40px 20px 40px;
}

.overwatch2 {
    margin-left: 1.6%;
    margin-right: 14%;
}

nav ul {
    padding-left: 0%;
    margin-bottom: 0%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.rognage_video {
    height: 80vh;
}

section {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    align-items: center;
}

.sectionfond {
    display: flex;
    margin: auto auto;
    border-radius: 20px;
    flex-flow: column;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 2%;
    font-weight: none;
}

.texte {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    letter-spacing: 1px;
    font-size: 150%;
    padding-bottom: 1%;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    color: white;
}

/* bas de page image */
figure {
    display: block;
    margin: 0%;
}

.sectionphoto {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
}

figcaption {
    text-align: center;
    color: rgba(29,37,58);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.image {
    box-shadow: 0em 0em 1em black;
    width: 500px;
    height: 250px;
}

.marge_milieu {
    margin-right: 50px;
}

.fond_sky {
    background-image: url(image/1600_Sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2%;
}

.fond_ciel {
    background-image: url(image/ciel.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.noir {
    color: rgba(29,37,58);
}

.image-bandeau {
    top: 8.9%;
    width: 1000px;
    height: 275px
}


/* Création tableau */



.tableau-style {
    max-width: 80%;
    width: auto;
    box-shadow: 0em 0.5em 2em #4c8cd4;
    margin: 0% auto;
    border-radius: 20px;
    border: 2px solid white;
}

.margin-bottom {
    margin-bottom: 2%;
}

thead tr th {
    text-align: center;
    min-width: 40%;
    color: white;
    background-color: #f06414;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

th, td {
    padding: 15px 20px; 
}

tbody tr, td, th {
    text-align: justify;
    color: white;
    background-color: #05a0fa3f;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
    text-align: center;
    font-weight: bold;
}

.border-radius-top-left {
    border-top-left-radius: 15px;
    min-width: 20%;
}

.border-radius-top-right {
    border-top-right-radius: 15px;
}

.border-radius-bottom-left {
    border-bottom-left-radius: 15px;
}

.border-radius-bottom-right {
    border-bottom-right-radius: 15px;
}


/* FIN */

.fond-bleu-marine-ville {
    background-image: url(image/fond-bleu-marine-ville.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2%;
}


@media screen and (min-width: 575px) and (max-width: 1070px){
    .image {
        height: 125px;
        width: 250px;
    }
}

@media screen and (max-width: 574px) {
    .image {
        height: 62.5px;
        width: 125px;
    }
}