@charset "UTF-8";


* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

@font-face {
    font-family: "montserrat";
    src: url("/police/Montserrat/static/Montserrat-Bold.ttf") format(ttf);
}
   
body{
    background-color: gray;
    color: white;
}

nav {
    background-color: rgb(56,58,57);
    display: block;
    box-shadow: 0em 0.5em 1.5em black;    
}
nav ul li{
    display: inline-block;
    height: 20px;
    padding: 20px 0px 20px 0px;
    font-size: 18px;
    font-family: "montserrat";
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 3px solid transparent;
    transition-duration: 0.4s;
}

nav ul li:hover {
    border-bottom: 3px solid white;
    transition-duration: 0.8s;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0px 40px 20px 40px;
}

.mw2 {
    margin-left: 1.6%;
    margin-right: 16%;
}

nav ul {
    padding-left: 0px;
    margin-bottom: 0%;
}

.video {
    width: 100%;
    height: 50%;
    margin-bottom: 3.2%;
}

.section {
    display: flex;
    width: 1300px;
    margin: auto auto;
    background-color: rgb(56,58,57);
    border-radius: 20px;
    box-shadow: 0em 0em 1em rgb(140, 148, 146); 
    transition-duration: 0.4s;
    margin-top: 2.4%;
}

.section:hover{
    box-shadow: 0em 0em 1.5em rgb(201, 214, 211); 
    transition-duration: 0.2s;
}

.sectionhorizontale {
    display: flex;
    width: 1300px;
    margin: auto auto;
    background-color: rgb(56,58,57);
    border-radius: 20px;
    margin-top: 2.4%;
    flex-flow:row;
}

.titre{
    font-family: "montserrat";
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    letter-spacing: 1px;
}

.flex{
    flex-direction: column;
    display: flex;
}
.flexcenter{
    margin: auto auto;
    margin-top: 1.6%;
}

.flexleft{
    margin-top: 2.4%;
    margin-left: 0.8%;
    font-size: 20px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(42, 190, 62);
}

.imagemw2{
    display:flex;
    margin-left: 0.8%;
    margin-top: 2.4%;
    width: 700px;
    box-shadow: 0em 0em 10px rgb(140, 148, 146);
}

.imageprice{
    display:flex;
    margin-left: 0.8%;
    margin-top: 2.4%;
    width: 600px;
    box-shadow: 0em 0em 10px rgb(140, 148, 146);
}

.imagekyle{
    display:flex;
    margin-left: 0.8%;
    margin-top: 2.4%;
    width: 670px;
    box-shadow: 0em 0em 10px rgb(140, 148, 146);
}

.flexprice{
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    font-style: normal;
}

.flexkyle{
    margin-left: 37%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    font-style: normal;
}