@charset "UTF-8";


* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

@font-face {
    font-family: "montserrat";
    src: url("/police/Montserrat/static/Montserrat-Bold.ttf") format(ttf);
}

html {
    display: flex;
    height: 0px;
}

nav {
    background-color: rgba(255, 255, 255, 0.575);
    display: block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    border-radius: 20%;
    padding: 0.8% 0% 0.8% 0%;
    font-size: 18px;
    font-family: "montserrat";
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li:hover {
    background-color: rgba(228, 226, 226, 0.671);
}


nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0px 40px 20px 40px;
}

.overwatch2 {
    margin-left: 1.6%;
    margin-right: 14%;
}

nav ul {
    padding-left: 0%;
    margin-bottom: 0%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.rognage_video {
    height: 80vh;
}

section {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    align-items: center;
}

.sectionfond {
    display: flex;
    margin: auto auto;
    border-radius: 20px;
    flex-flow: column;
}

h1 {
    font-family: "montserrat";
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 2%;
}

.texte {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    letter-spacing: 1px;
    font-size: 150%;
    padding-bottom: 1%;
    font-family: "montserrat";
    text-align: justify;
    color: white;
}

/* bas de page image */
figure {
    display: block;
    margin: 0%;
}

.sectionphoto {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
}

figcaption {
    text-align: center;
    color: black;
    font-family: "montserrat";
}

.image {
    box-shadow: 0em 0em 1em black;
    width: 500px;
    height: 250px;
}

.marge_milieu {
    margin-right: 50px;
}

.fond_sky {
    background-image: url(image/1600_Sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2%;
}

.fond_ciel {
    background-image: url(image/ciel.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.noir {
    color: black;
}

.bandeau {
    background-image: url(image/bandeau.png);
    background-size: cover;
    background-repeat: no-repeat;   
    margin-bottom: Opx;
}