@charset "UTF-8";


* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

@font-face {
    font-family: "montserrat";
    src: url("/police/Montserrat/static/Montserrat-Bold.ttf") format(ttf);
}

body {
    color: white;
    background-color: rgb(56, 58, 57);
}

nav {
    background-color: rgb(56, 58, 57);
    display: block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 0.8% 0% 0.8% 0%;
    font-size: 18px;
    font-family: "montserrat";
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 3px solid transparent;
    transition-duration: 0.4s;

}

nav ul li:hover {
    border-bottom: 3px solid white;
    transition-duration: 0.8s;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0px 40px 20px 40px;
}

.mw2 {
    margin-left: 1.6%;
    margin-right: 16%;
}

nav ul {
    padding-left: 0%;
    margin-bottom: 0%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0em 1em 1em gray;
}



.rognage_video {
    height: 80vh;
    z-index: -1;

}

section {
    display: flex;
    width: 100%;
    margin: auto auto;
    flex-direction: column;
    align-items: center;
}




.sectionhorizontale {
    display: flex;
    width: 100%;
    margin: auto auto;
    flex-flow: row;
    padding-top: 2.4%;
    z-index: 2;
}

.sectionfond {
    display: flex;
    width: 100%;
    margin: auto auto;
    border-radius: 20px;
    flex-flow: column;
}

h1 {
    font-family: "montserrat";
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2%;
}

.flexcenter {
    margin: auto auto;
    margin-top: 1.6%;
}

.texte {
    margin-top: 1%;
    font-size: 20px;
    margin-bottom: 1%;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(42, 190, 62);
    opacity: ;
}

.imagemw2 {
    display: flex;
    margin-left: 0.8%;
    width: 700px;
    box-shadow: 0em 0em 10px rgb(140, 148, 146);
}

.flex_horizontal{
    display: flex;
    flex-direction: row;
}

.imageprice {
    display: flex;
    margin-left: 3vh;
    margin-top: 2.4%;
    width: 100vh;
    box-shadow: 0em 0em 10px rgb(140, 148, 146);
}

.imagekyle {
    display: flex;
    margin-left: 3vh;
    margin-top: 2.4%;
    width: 100vh;
    box-shadow: 0em 0em 10px rgb(140, 148, 146);
}

.flexprice {
    margin-left: 35vh;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    font-style: normal;
}

.flexkyle {
    margin-left: 75vh;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    font-style: normal;
}

.flexfond {
    background-image: url(image/fond.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.flexfond_beton {
    background-image: url(image/fond_beton.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.fond {
    width: 100%;
    height: 180vh;
    position: absolute;
    opacity: 0.5;
}



.fond_beton {
    width: 100%;
    height: 182vh;
    position: absolute;
}